<!-- NAVBAR -->
2
 
3
 <section class="row">

        <div class="col-md-12">

           <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
6
                   <a href="#" class="navbar-brand">Soko <b class="text-success">Garden</b></a>
7
                   <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
8
                       <span class="navbar-toggler-icon"></span>
9
                  </button>
10
​
11
                   <div class="collapse navbar-collapse" id="navbarCollapse">
12
                        <div class="navbar-nav">
13
                             <a href="/" class="nav-item nav-link">Home</a>
14
                             <a href="/" class="nav-item nav-link">Blog</a>
15
                             <a href="/" class="nav-item nav-link">About US</a>
16
                        </div>
17
                       <div class="ms-auto">
18
                        <!--    TODO Logout-->
19
                       </div>
20
​
21
                   </div>
22
           </nav>
23
        </div>
24
   </section>
25
 
26
 