<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <label for="">Product Name</label>
                    <input type="text" name="product_" id="">



                </div>

            </div>

        </section>

    </div>


 </div>
</div>
</body>
</html>