<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <label for="">Product Name</label>
                    <input type="text" name="product_name" id="" class="form-control" required >
                    <label for="">Product description</label>
                    <textarea name="product_desc" id="" cols="30" rows="3" class="form-control" required></textarea>
                    <label for="">product cost</label>
                    <input type="number" name="product_cost" id="" class="form-control" required>

                    <label for="">Product category</label>
                    <select name="product_category" id="">
                        <option value="Electronics">Electronics</option>
                        <option value="Clothes"></option>


                    </select>




                </div>

            </div>

        </section>

    </div>


 </div>
</div>
</body>
</html>